@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0px 0px;
}

.secao-topo {
  padding: 35px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #2a70b2;
}

.topo {
  color: #f99fc3;
}
 
.container-logo {
  width: 285px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.topo {
  width: 100%;
  padding: 15px 0px;
  text-align: center;
}

.topo span {
  color: #fcf457;
  font-size: 18px;
}
  
.container-links {
  width: 385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
} 
  
.container-links a {
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}

.container-links a:hover {
  color:#fcf457;
}

.container-logo-imagem {
  width: 100px;
  height: 100px;
}

.container-logo-imagem img {
  width: 100%;
  height: 100%;
}

.secao-banner {
	background-color: #f8f6f6;
	padding: 60px 0px;
}

.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
  flex-wrap: wrap;
}

.container-texto{
	color: #000000;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
  max-width: 40%;
}

.container-texto h2 {
	font-size: 30px;
  text-align: justify;
}

.container-texto p {
  font-size: 20px;
  text-align: justify;
}

.container-banner {
  max-width: 60%;
}

.container-banner img {
	width: 100%;
  height: 100%;
	object-fit: cover;
}

.secao-produtos {
  background-color: #2a70b2;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.container-produtos {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.card-produto {
  background-color: #f99fc3;
  flex: 1 1 300px;
  border-radius: 4px;
}

.container-img {
  height: 200px;
}

.container-imagem img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.container-info {
  padding: 0px 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-info h3 {
  font-size: 18px;
}

.container-preco {
  padding: 10px;
  border-top: 1px solid #fcf457;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-icone {
  padding: 5px;
  border: 1px solid #fcf457;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.container-eventos {
  height: auto;
  padding: 100px 20px;
  background-image: url("img/sorveteria.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-eventos h3 {
  color: #ffffff;
  font-size: 40px;
}

.container-eventos h2 {
  color:#ffffff;
  font-size: 30px;
}

.botao {
  background-color: #f99fc3;
  color: #f8f6f6;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  padding: 10px;
}

.botao:hover {
  color: #000000;
  background-color: #fcf457;
}

.container-rodape {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color: rgb(224, 221, 221);
}

.container-img-rodape {
  width: 100px;
}

.container-imagem img {
  width: 100%;
  height: 100%;
}

.container-contato {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.container-contato div {
  padding: 10px 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  flex: 1 1 240px;
  text-align: center;
}

.container-descricao {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container-descricao a {
  width: 40px;
  height: 40px;
  background-image: url("./img/seta-para-cima.png");
  background-position: center;
  background-size: cover;
  background-color: #db86a8;
  border-radius: 4px;
  position: absolute;
  bottom: 60px;
  right: 0px;
}

.container-redes-sociais img {
  width: 30px;
  margin-right: 5px;
}
  